*.cdf
*.cache
*.obj
*.obj.enc
*.ipdb
*.iobj
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.idb
*.rep
*.xdc
*_manifest.rc
*.sbr
*.metagen
*.ncb
*.ilk
*.lib
*.sdf
*.exp
*.map
*.pdb
*.lastcodeanalysissucceeded
*.exe
*.bsc
*.suo
*.user
*.o
*.VC.db

Upgradelog.xml
applog.txt
tinybvh.exe
x64\release\template.tlog

ipch/
release/
debug/
Debug/
x64/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/