*.cdf
*.cache
*.obj
*.obj.enc
*.ipdb
*.iobj
*.resources
*.tlb
*.tli
*.tlh
*.tmp
*.rsp
*.pgc
*.pgd
*.meta
*.tlog
*.manifest
*.res
*.pch
*.idb
*.rep
*.xdc
*_manifest.rc
*.sbr
*.metagen
*.ncb
*.ilk
*.lib
*.sdf
*.exp
*.map
*.pdb
*.lastcodeanalysissucceeded
Upgradelog.xml
*.exe
*.bsc
applog.txt
*.suo /AH
*.user
*.o
*.VC.db
tinybvh.exe
ipch /S /Q
x64\release\template.tlog
release /S /Q
debug /S /Q
x64 /S /Q
.vs /S /Q